ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #f0f0f0;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.btn {
  padding: 0.7rem 2rem;
  border: 1px solid #fff;
  background-color: inherit;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  transition: all 0.5s ease;
  border-radius: 5px;
}

.header {
  height: 100vh;
  width: 100%;
  background: url("../../../images/showcase.jpg") no-repeat center center/cover;
  color: #fff;
  display: flex;
  flex-flow: column wrap;
}
.header__nav {
  background-color: #06091a;
}
.header__nav .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .header__nav .container {
    justify-content: space-between;
    flex-direction: row;
  }
}
.header__nav .logo {
  height: 60px;
  display: block;
  text-align: center;
}
@media (min-width: 768px) {
  .header__nav .logo {
    flex: 1;
  }
}
.header__nav .logo img {
  background-color: white;
  border-radius: 50%;
  height: 100%;
}
@media (min-width: 768px) {
  .header__nav .nav {
    flex: 60%;
  }
}
.header__nav .nav .nav-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.header__nav .nav .nav-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  margin: 5px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header__nav .nav .nav-list li:hover, .header__nav .nav .nav-list li.active {
  background-color: #08122b;
}
@media (min-width: 768px) {
  .header__nav .nav .nav-list li {
    padding: 10px 30px;
    margin: 0;
  }
}
.header__nav .menu {
  flex: 1 1 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .header__nav .menu {
    justify-content: flex-end;
  }
}
.header__nav .menu button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 0;
  background-color: #06091a;
  cursor: pointer;
}
.header__nav .menu button span {
  display: block;
  height: 2px;
  width: 95%;
  margin: auto;
  background-color: #fff;
}
.header__nav .menu button span:not(:last-of-type) {
  margin-bottom: 5px;
}
.header__content {
  flex: 1;
}
.header__content .lead {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .header__content .lead {
    font-size: 1.5rem;
  }
}
.header__content .primary-text {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 0 0 2rem 0;
  padding: 0;
}
.header__content .primary-text span {
  display: block;
}
@media (min-width: 768px) {
  .header__content .primary-text {
    font-size: 5rem;
  }
}
.header__content a {
  background: #f4f4f4;
  color: #08122b;
  font-size: 1rem;
}
.header__content a:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
@media (min-width: 768px) {
  .header__content a {
    font-size: 1.2rem;
  }
}
.header__media {
  display: flex;
  padding: 0 1rem 10px;
  background: linear-gradient(to top, #06091a, transparent);
}
.header__media i {
  font-size: 1.5rem;
}
.header__media .down-arrow {
  flex: 1;
  position: relative;
  animation: scroll 2s infinite ease;
}
@keyframes scroll {
  0%, 100% {
    bottom: 10px;
  }
  50% {
    bottom: 0;
  }
}
.header__media .social {
  flex: 0 0 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__media .social i {
  margin-right: 5px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.footer {
  margin-top: 10rem;
  background: linear-gradient(to left, #06091a, #08122b);
  padding: 1rem;
  color: #FFF;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .container i {
  font-size: 1.2rem;
}

.info {
  padding: 2rem 0;
  background: linear-gradient(to top, #08122b, #06091a);
  color: #fff;
}
.info .container {
  display: flex;
}
.info .container .info-1 {
  position: relative;
  padding: 1rem;
  flex: 1;
  text-align: center;
}
.info .container .info-1:not(:last-of-type)::after {
  content: "";
  height: 30%;
  width: 2px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 40%;
}
.info .container .info-1 h3 {
  margin: 0;
}
.info .container .info-1 p {
  line-height: 1.4;
}

.about {
  margin: 4rem 0;
}
.about .container .row {
  display: flex;
  color: #fff;
  height: 500px;
}
.about .container .row-info {
  flex-basis: 50%;
  background: linear-gradient(to left, #06091a, #08122b);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transform: scale(1.1);
  box-shadow: 0 0 10px #000;
}
.about .container .row-info h2 {
  margin: 0;
}
.about .container .row-info p {
  line-height: 1.6;
  width: 80%;
}
.about .container .row-img {
  flex-basis: 50%;
}
.about .container .row-img img {
  width: 100%;
  height: 100%;
}

.email-list {
  margin-top: 10rem;
  background-color: #06091a;
  color: #fff;
  padding: 1rem 0;
  position: relative;
  height: 250px;
}
.email-list .container {
  height: 100%;
}
.email-list::before, .email-list::after {
  content: "";
  height: 100px;
  width: 100%;
  position: absolute;
  background-color: #06091a;
}
.email-list::before {
  bottom: 100%;
  left: 0;
  transform-origin: bottom left;
  transform: skewY(2deg);
}
.email-list::after {
  top: 100%;
  right: 0;
  transform-origin: bottom right;
  transform: skewY(2deg);
}
.email-list .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;
}
.email-list .wrapper h2 {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.email-list .wrapper p {
  margin: 0;
  margin-bottom: 10px;
}
.email-list .wrapper form {
  margin-top: 1rem;
}
.email-list .wrapper form input[type=text],
.email-list .wrapper form input[type=email] {
  border: 0;
  border-bottom: 1px solid #fff;
  padding: 0.8rem 0.5rem;
  background-color: inherit;
  margin-left: 1rem;
  color: #FFF;
}
.email-list .wrapper form input[type=button] {
  margin-left: 1rem;
}
