// Info Starts Here
.info {
  padding: 2rem 0;
  background: linear-gradient(to top, $primary-lite, $primary-color);
  color: #fff;
  .container {
    display: flex;
    .info-1 {
      position: relative;
      padding: 1rem;
      flex: 1;
      text-align: center;
      &:not(:last-of-type)::after {
        content: "";
        height: 30%;
        width: 2px;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 40%;

      }
      h3 {
        margin: 0;
      }
    }
  }
}
// Info Ends Here


