.footer {
  margin-top: 10rem;
  background: linear-gradient(to left, $primary-color,$primary-lite);
  padding: 1rem;
  color: #FFF;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    i {
      font-size: 1.2rem;
    }
  }
}